body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}
input, select, button,textarea {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}
label {
  font-weight: bold;
  margin-top: 1rem;
}
.section {
  margin-bottom: 2rem;
}
.small-btn {
  width: auto;
  display: inline-block;
  margin-bottom: 1rem;
}


/* table */
table{
  border: 1px solid black;
  border-collapse: collapse;
}
thead{
  background: #ccc;
}
td{
  border: 1px solid black;
  padding: 1rem;
}


/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal.active {
  display: flex;
}
.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  max-width: 500px;
  width: 90%;
}
.modal-content textarea,
.modal-content input {
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem;
}
.modal-content button {
  margin-right: 10px;
}
