@import '../style.css';

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;  
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-bottom : .2rem dashed var(--header_fonts) ;
  border-top: .2rem dashed var(--header_fonts) ;
 background: var(--header_bg);  
 padding: 1rem;
}
h1{
  color: var(--header_fonts);
text-align: center;
 
font: italic bold 4rem Crafty Girls;
text-shadow: -1px -1px 1px rgba(0, 0, 0, .2);
} 
header.scrolled,
header.scrolled .nav-links a {
 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #ccc;
  padding: .5rem 1rem;
  border-radius: 1px solid #fff;
}

 
   